html {
  overflow-y:scroll;
}
body {
  background-color: #E8E8E8;
  margin: 0px;
  padding: 0px;
  font-family:'open Sans', Arial;
  font-size: 12px;
}

  /* Font face */
@font-face { 
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot');
    src: url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icomoon/icomoon.svg#icomoon') format('svg'),
         url('../fonts/icomoon/icomoon.woff') format('woff'),
         url('../fonts/icomoon/icomoon.ttf') format('truetype');
}	       

div.home-page{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

div.introduction{
  display: flex;
  justify-content: center;
  align-items: center;
}

.myphoto {
  width: 200px;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  color:rgb(22, 185, 104);
}

.bio {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 15px;
  width: 292.64px;
  color:rgb(22, 185, 104);
  margin-top: 20px;
  display: block;
}

.introduction {
  display: inline-block;
}

.socialicons {
  float:right;
  margin-top:18px;
}
.socialicons li {
  float:left;
  display:inline;
  margin:0;
  padding:0;
  margin-right:2px;
}
.socialicons li a  {
  font-family: 'icomoon';
  font-size: 16px;
  display: block;
  padding: 6px 8px;
  background-color:#222;
  color: #FFF;
}
.socialicons li a:hover  {
  color:/*mainColor*/#fdc750;
}
.social-icons li:last-child {
  margin-right:0
}
.socialicons .socials-text {
  padding:9px;
  height:10px;
  background-color:#222;
  color:#FFF;
}

#main-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-position: inside;
  display: flex;
}

#main-menu1 {
  padding: 10px;
}

#main-menu2 {
  padding: 10px;
}

#main-menu3 {
  padding: 10px;
}